body {
	font-family: Futura, Helvetica, Arial, sans-serif; 
	line-height: 1.5;
	letter-spacing: 1px;
	background-color: #CEF2EA;;
	color: #333;
}

p {
	font-family: monospace;
}

h4.subtitle {
	margin-left: 20px;
}
h5.subtitle {
	margin-left: 40px;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	transition: all 1s;
}
.text-center {
	text-align: center;
}

section {
	background-color: #fafafa;
	margin: 50px 10px;
	padding: 10px 40px;
	border: 1px solid black;
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.subtitle {
	cursor: pointer;
}

pre {
	background-color: #e2e2e2;
	padding: 2px;
}

.arrow {
	display: inline-block;
	transition: all 0.5s;
	color: #CEF2EA;
	transform-origin: 40%;
	transform: rotate(-90deg);	
}
.arrow-close {
	transform: rotate(90deg);	
}
.hide {
	display: none;
}

.social {
	color: #333;
	text-decoration: none;
}

.social:last-child {
	margin-left: 15px;
}

.social:hover {
	color: #92e2d0;
}